# Only allow SVG related merges if accepted by the named maintainers
# Temporarily only @krisu5 will allow changes
# Rights will be given to @Goldmaster after @krisu5 is absolutely sure that they follow and understand guidelines

*.svg                 @krisu5 @github-actions-bot
/.github/CODEOWNERS   @krisu5
